* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.str2 {
  stroke: #fefefe;
  stroke-width: 2.99935;
  stroke-linejoin: bevel;
}

.fil6 {
  fill: none;
}

.fil5 {
  fill: #fefefe;
}
.fil2 {
  fill: #28599e;
}
.fil1 {
  fill: #87cefa;
}
.fil4 {
  fill: #315192;
}
.fil3 {
  fill: #fefefe;
  fill-rule: nonzero;
}
.fillCompanyName {
  fill: #fefefe;
}

.display-flex {
  display: flex !important;
  flex-direction: column;
}

.active {
  visibility: visible !important;
  width: 300px !important;
  opacity: 1;
  padding: 1rem;
}

.nav-link {
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (min-width: 768px) {
  #nav-toggle {
    display: none;
    translate: all 1s;
  }

  #sidebar-nav {
    transition: all 0.3s;
    width: 0;
    visibility: hidden;
    display: none;
  }
}

nav-toggle:focus {
  /* border: 2px solid white !important; */
  /* outline: 5px solid yellow !important; */
  /* box-shadow: 0 0 5px 5px #dddddd; */
  color: red;
}

@media screen and (max-width: 768px) {
  nav ul {
    display: none !important;
    /* display: flex; */
  }

  nav-toggle:active {
    border: 1px solid white;
  }

  #nav-toggle {
    box-sizing: border-box;
    width: 30px;
    height: 20px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 5;
    margin: auto 0 auto auto;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
  }

  #nav-toggle:focus {
    outline: none;
  }

  #nav-toggle:focus * {
    /* box-shadow: 0 0 2px 1px #3a97f9, 0 0 1px 1px #ffffff; */
    box-shadow: 0 0 0 1px #ffffff;
    background: #addfff !important;
  }

  #nav-toggle .line {
    margin: 0;
    padding: 0;
    height: 3px;
    width: 100%;
    /* margin: 5px; */
    background: #dddddd;

    display: block;
    position: absolute;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-toggle .line:nth-child(1) {
    top: 0px;
  }
  #nav-toggle .line:nth-child(2) {
    top: 8px;
  }
  #nav-toggle .line:nth-child(3) {
    top: 16px;
  }

  #nav-toggle.animate-toggle .line:nth-child(1) {
    top: 8px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  #nav-toggle.animate-toggle .line:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  #nav-toggle.animate-toggle .line:nth-child(3) {
    top: 8px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  nav h1 {
    font-size: 1.1rem !important;
  }

  #sidebar-nav {
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 2px;
    width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    text-align: center;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    padding-bottom: 15vh;
  }

  #sidebar-nav * {
    opacity: 0;
  }
  #sidebar-nav.active * {
    opacity: 1;
  }

  #sidebar-nav a {
    color: #addfff;
    margin: 1rem;
    overflow: hidden;
    transition: color 1s;
  }

  #sidebar-nav a:hover {
    color: white;
    margin: 1rem;
    overflow: hidden;
  }
}

#linkedin:hover,
#linkedin:focus,
#linkedin-link:active,
#linkedin-link:focus {
  transition: color 0.5s;
  color: #0e76a8 !important;
}

#facebook:hover,
#facebook:focus,
#facebook-link:active,
#facebook-link:focus {
  transition: color 0.5s;
  color: #3b5998 !important;
}

@media screen and (max-width: 480px) {
  .active {
    font-size: 1.25rem;
    width: 100vw !important;
  }
}
